{{ define "main" }}

<div class="header">
	<a href="/cv/en/">CV</a> | <a href="https://habr.com/ru/users/Dmitry89/">Habr</a> | <a href="https://medium.com/@dmitry8912/">Medium</a> | <a href="https://github.com/dmitry8912">GitHub</a> | <a href="https://t.me/dev_io_ru">Telegram channel</a> | <a href="mailto:dmitry8912@gmail.com">Email</a> | <a href="/posts">Archive</a>
</div>

<br/>


<h1>Latest posts</h1>

{{ with .Site.GetPage "/posts" }}
    {{ range first 3 (sort .Data.Pages "Date" "desc" (where .Pages ".Params.private" "!=" true))}}
        <div class="post" style="margin-bottom:20px">
        	<h1><a href="{{ .Permalink }}" title="{{ .Title }}">{{ .Title }}</a></h1>
                {{ .Summary }}
        </div>    
    {{ end }}
{{ end }}

{{ end }}
